<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="sidebar" id="sidebar" class="m l left-align left surface-container">
        <button class="extra square round transparent center-align" data-ui="#sidebar">
            <i>menu</i>
        </button>

        <div class="max">
                <header>
                    <button class="extra extend square round">
                        <i>search</i>
                        <span>Buscar</span>
                    </button>
                </header>

            </div>
            <div class"center-align">
                <a>
                    <i>pets</i>
                    <span>Pets</span>
                </a>
                <a>
                    <i>family_home</i>
                    <span>Adoções</span>
                </a>
        </div>
        <div class="max">
        </div>

    </nav>
</html>
